In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error', 'absolute_error', 'friedman_mse'],
            'max_features': ['sqrt','log2'],
            'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [9]:
re=grid.cv_results_
print(re)

print("The best parameter: {}".format(grid.best_params_))

{'mean_fit_time': array([0.22858558, 1.99203372, 0.21204743, 2.10357132, 0.63389349,
       5.77670264, 0.5628087 , 6.7015326 , 0.2280899 , 2.5352941 ,
       0.34487715, 2.16526113]), 'std_fit_time': array([0.07390956, 0.14635509, 0.01895511, 0.07419282, 0.03353399,
       0.16510358, 0.01188198, 0.23436892, 0.01236301, 0.20556741,
       0.03806823, 0.06706705]), 'mean_score_time': array([0.03091817, 0.07800694, 0.0299201 , 0.07609205, 0.0311182 ,
       0.07436523, 0.02034545, 0.08457284, 0.03789897, 0.1474062 ,
       0.01875038, 0.10551825]), 'std_score_time': array([0.00975148, 0.01287583, 0.01253691, 0.01485684, 0.01609793,
       0.00445267, 0.01482779, 0.01568278, 0.01508653, 0.04519461,
       0.01172303, 0.01867346]), 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                   'squared_error', 'absolute_error', 'absolute_error',
                   'absolute_error', 'absolute_error', 'friedman_mse',
                   'friedman_mse', 'friedman_mse', 'friedman_mse'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt', 'log2',
                   'log2', 'sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[10, 100, 10, 100, 10, 100, 10, 100, 10, 100, 10, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 10}, {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 10}, {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}, {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 10}, {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 10}, {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}, {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 10}, {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 10}, {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}], 'split0_test_score': array([0.84397069, 0.85663917, 0.85821835, 0.85889405, 0.84928353,
       0.8584704 , 0.8463644 , 0.8544093 , 0.8469043 , 0.85639762,
       0.83350032, 0.85861882]), 'split1_test_score': array([0.75852111, 0.78069178, 0.7538766 , 0.77989351, 0.77100456,
       0.78128621, 0.76745369, 0.77785958, 0.74362155, 0.7792815 ,
       0.7612272 , 0.78484778]), 'split2_test_score': array([0.84765584, 0.85768378, 0.85205658, 0.86201149, 0.82411284,
       0.8604812 , 0.84597239, 0.85397681, 0.84037349, 0.85944467,
       0.85787472, 0.8621894 ]), 'split3_test_score': array([0.81881559, 0.82966846, 0.80771696, 0.82777265, 0.81881672,
       0.83000316, 0.81181183, 0.82729324, 0.80463785, 0.82835532,
       0.82468394, 0.8268058 ]), 'split4_test_score': array([0.82286341, 0.83929679, 0.8225543 , 0.83954192, 0.84125002,
       0.84376673, 0.83469851, 0.84022104, 0.82202196, 0.84142172,
       0.80904045, 0.84109187]), 'mean_test_score': array([0.81836533, 0.832796  , 0.81888456, 0.83362272, 0.82089353,
       0.83480154, 0.82126016, 0.83075199, 0.81151183, 0.83298017,
       0.81726532, 0.83471073]), 'std_test_score': array([0.03198542, 0.02812398, 0.03744796, 0.02966699, 0.0272909 ,
       0.02893769, 0.02968472, 0.02827824, 0.03702007, 0.02906869,
       0.03217345, 0.02798641]), 'rank_test_score': array([10,  5,  9,  3,  8,  1,  7,  6, 12,  4, 11,  2])}
The best parameter: {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.228586,0.073910,0.030918,0.009751,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.843971,0.758521,0.847656,0.818816,0.822863,0.818365,0.031985,10
1,1.992034,0.146355,0.078007,0.012876,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.856639,0.780692,0.857684,0.829668,0.839297,0.832796,0.028124,5
2,0.212047,0.018955,0.029920,0.012537,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.858218,0.753877,0.852057,0.807717,0.822554,0.818885,0.037448,9
3,2.103571,0.074193,0.076092,0.014857,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.858894,0.779894,0.862011,0.827773,0.839542,0.833623,0.029667,3
4,0.633893,0.033534,0.031118,0.016098,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.849284,0.771005,0.824113,0.818817,0.841250,0.820894,0.027291,8
5,5.776703,0.165104,0.074365,0.004453,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858470,0.781286,0.860481,0.830003,0.843767,0.834802,0.028938,1
6,0.562809,0.011882,0.020345,0.014828,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.846364,0.767454,0.845972,0.811812,0.834699,0.821260,0.029685,7
7,6.701533,0.234369,0.084573,0.015683,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854409,0.777860,0.853977,0.827293,0.840221,0.830752,0.028278,6
8,0.228090,0.012363,0.037899,0.015087,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.846904,0.743622,0.840373,0.804638,0.822022,0.811512,0.037020,12
9,2.535294,0.205567,0.147406,0.045195,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.856398,0.779282,0.859445,0.828355,0.841422,0.832980,0.029069,4
10,0.344877,0.038068,0.018750,0.011723,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.833500,0.761227,0.857875,0.824684,0.809040,0.817265,0.032173,11
11,2.165261,0.067067,0.105518,0.018673,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858619,0.784848,0.862189,0.826806,0.841092,0.834711,0.027986,2

In [12]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))

Age:24
BMI:12
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1
Future_Prediction=[17279.4718853]

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(